.wrapper {
    position: "fixed";
    top: "200px"; 
    left: "30px"; 
    width: "100%";
}
.listContainer{
    text-align: "center";
    width: "100%";
    padding: "0px 150px";
    padding-bottom: "0";
}
.paginationBar {
    display: "flex";
    position: "fixed";
    bottom: "10px";
    margin-top: "40px";
    width: "100%";
    justify-content: "center";
}