.container{
    margin: 0px;
    padding-top : 20px;
    width: 100%;
}
.content_wrapper{
    width: 100%;
    margin: 40px 0px 0 0px;
    border-bottom: 1px solid black;
}
.content {
    width: 100%;
    margin: 0px 20px 0 20px;
}